{% extends "layout.html" %} {% block userTabs %} {% if LoggedIn %}
<li class="nav-item">
  <a class="nav-link active mr-4" aria-current="page" href="/userbooks">
    <i class="bi bi-book"></i>&nbsp;My Books</a
  >
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/userreviews"
    ><i class="bi bi-pen"></i>&nbsp;My Reviews</a
  >
</li>
{% endif %} {% endblock %} {% block login_button %} {% if LoggedIn %}
<div class="d-flex ml-5">
  <form method="post">
    <input
      type="submit"
      name="action"
      value="LogOut"
      class="btn btn-outline-primary"
    />
  </form>
</div>
{% else %}
<div class="d-flex ml-5">
  <button
    class="btn btn-outline-primary"
    type="button"
    onclick="window.location.href='/login'"
  >
    Log In
  </button>
  <button
    class="btn btn-outline-primary"
    type="button"
    onclick="window.location.href='/signin'"
    style="margin-right: 10px"
  >
    Sign In
  </button>
</div>
{% endif %} {% endblock %} {% block content %}
<main class="custom-container">
  <div class="container2">
  <h1 class = "search_h1">{{bookData[0]}}</i></h1>
  <hr>
  <div class="desc"><p>{{bookData[2]}}</p> </div>
  <p>Author: <strong>{{ bookData[1]}}</strong></p>
  <br>
  <p>Genre: <strong>{{bookData[4]}}</strong></p>
  <hr>
</div>
<br> <br>
<h2>Reviews about searched book</h2>
<br>
  <div class="row mb-2">
    {% for review in Reviews %}
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <p class="card-text mb-auto">{{ review['comment'] }}</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg
            class="bd-placeholder-img"
            width="200"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#4080b8" />
            <text x="40%" y="50%" fill="#eceeef" dy=".3em">
              {{ review['rating']}}
            </text>
          </svg>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
